.emotional-phrase{
    background-color: white;
    color: #666666;
    padding: 20px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center ;
    .image{
        width: 40px;
        img{
            width: 100%;
        }
    }
    .writer{
        font-size: 0.8rem;
    }
}
mat-card{
    width: 95%;
    margin: 20px auto;
    background: white;
    box-shadow: none !important;
    border-radius: 20px;
    mat-card-subtitle{
        color: black;
    }
}
table{
    tr{
        text-align: center;
    }
}