<app-header></app-header>
<app-phrases-emotional></app-phrases-emotional>
<div class="main-content">
    <div class="row">
        <div class="col-12 col-md-6">
            <mat-card>
                <mat-card-subtitle>
                    <strong><h4>Productos por agotar</h4></strong>
                </mat-card-subtitle>
                <mat-card-content>
                    <table class="table table-hover table-bordered">
                        <thead class="table-dark">
                            <tr>
                            <th scope="col">Producto</th>
                            <th scope="col">Restante</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let item of [].constructor(5);">
                                <th scope="row">Masajeador Facil: Kitty and Bob</th>
                                <td>5</td>
                            </tr>
                        </tbody>
                    </table>
                </mat-card-content>
            </mat-card>
        </div>
        <div class="col-12 col-md-6">
            <mat-card>
                <mat-card-subtitle>
                    <strong><h4>Ventas de los últimos 6 meses</h4></strong>
                </mat-card-subtitle>
                <mat-card-content>
                    <canvas #chartElm width="200" height="100"></canvas>
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>