.mat-card{
    width: 95% !important;
    margin: 20px auto !important;
    background: white !important;
    box-shadow: none !important;
    border-radius: 20px !important;
    .mat-card-subtitle{
        color: black !important;
    }
}